<!-- All the links and styling for the footer; no matter what page you're on, you'll always see the following -->
</main>
<!-- FLEX-CONTAINER: footer -->
 <div id="footer" class="flex-container">
    <p>
        "I Love That Song." Spend more time writing. (Currently in development.)
    </p>
    <p>
        Made by <a href="https://github.com/bg-write/i-love-that-song">Brady Gerber</a> Powered by <a href="https://www.discogs.com/developers/#page:home">Discogs API</a> Gif by <a href="https://giphy.com/gifs/Studiofolk-color-colorful-dancingcoffee-Urt702zuzo34w8nZ0A">@Studiofolk</a> Know your <a href="https://www.house.gov/representatives/find-your-representative">local representatives</a>
    </p>
</div>
<!-- Bootstrap and closing tags -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
</body>
</html>