<div id="footer">
<p id="copyright">"I Love That Song" made by <a href="https://github.com/bg-write/i-love-that-song">Brady Gerber</a>.</p>
<p id="apiCredit">powered by <a href="https://www.discogs.com/developers/#page:home">Discogs API</a>.</p>
<p id="callToAction">know your <a href="https://www.house.gov/representatives/find-your-representative">local representatives.</a></p>
</div>
</main>
</body>
</html>