<!-- All Head information and navigation styling lives here; no matter what page you're on, you'll always see the following -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<script defer src="/javascripts/scripts.js"></script>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
			integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<title><%= title %></title>
		<!-- I Love That Song -->
	</head>
	<body>
		<!-- Space holding logo gif, headline text, and subheadline text -->
		<nav>
			<div class="row align-items-center" id="headlineArea">
				<img
					id="logoPic"
					src="https://media4.giphy.com/media/Urt702zuzo34w8nZ0A/giphy.gif"
					alt="logo"
					class="col"
				/>
				<div id="headlineText" class="col-6">
					<a href="/">I Love That Song.</a>
				</div>
				<div id="subheadlineText" class="col">Spend more time writing.</div>
			</div>
			<div id="navbar">
				<ul>
					<!-- When the user is logged in-->
					<% if (user) { %>
					<li class="nav-item">
						<a class="nav-link" href="/albums/new">Find Album</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/albums">Album Collection</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/users/profile">My Profile</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/messages">Ask A Question</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/auth/logout">Log Out</a>
					</li>
					<!-- When user is logged out-->
					<% } else { %>
					<li class="nav-item">
						<a class="nav-link" href="/auth/google">Login with Google</a>
					</li>
					<% } %>
				</ul>
			</div>
		</nav>
	</body>
</html>
