<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<script defer src="/javascripts/scripts.js"></script>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
			integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<title><%= title %></title>
	</head>
	<body>
		<nav>
			<img
				id="logoPic"
				src="https://media4.giphy.com/media/Urt702zuzo34w8nZ0A/giphy.gif"
				alt="logo"
			/>
			<a id="headlineText" href="/">I Love That Song.</a>
			<div id="subheadlineText">
				Organize the music you need to focus on the writing.
			</div>

			<div id="navbar">
				<ul>
					<!-- When user is logged in-->
					<% if (user) { %>
					<li class="nav-item">
						<a class="nav-link" href="/">Find Album</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/">Album Collection</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/users/profile">My Profile</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/">Users</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/">Message Board</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/auth/logout">Log Out</a>
					</li>
					<!-- <li class="nav-item">
						<img id="avatarPhoto" height="30" src="<%= user.avatar %>" alt="" />
					</li> -->
					<!-- When user is logged out-->
					<% } else { %>
					<li class="nav-item">
						<a class="nav-link" href="/auth/google">Login with Google</a>
					</li>
					<% } %>
				</ul>
			</div>
		</nav>
	</body>
</html>
