<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<script defer src="/javascripts/scripts.js"></script>
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
			integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
			crossorigin="anonymous"
		/>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<title><%= title %></title>
	</head>
	<body>
		<!-- FLEX-CONTAINER: headlineArea -->
		<div class="row align-items-center flex-container" id="headlineArea">
			<img
				id="logoPic"
				src="https://media4.giphy.com/media/Urt702zuzo34w8nZ0A/giphy.gif"
				alt="logo"
				class="col"
			/>
			<div id="headlineText" class="col-6">
				<a href="/">I LOVE THAT SONG</a>
			</div>
			<div id="subheadlineText" class="col">SPEND MORE TIME WRITING</div>
		</div>
		<!-- FLEX-CONTAINER: nav -->
		<nav class="flex-container" id="navbar">
			<div>
				<ul>
					<% if (user) { %>
					<li class="nav-item">
						<a class="nav-link" href="/albums/new">FIND ALBUM</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/albums">ALBUM COLLECTION</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/users/profile">MY PROFILE</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/messages">ASK A QUESTION</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/auth/logout">LOG OUT</a>
					</li>
					<% } else { %>
					<li class="nav-item" id="signIn">
						<a class="nav-link" href="/auth/google">LOGIN WITH GOOGLE</a>
					</li>
					<% } %>
				</ul>
			</div>
		</nav>
<!-- FLEX-CONTAINER: mainBody -->
<main id="mainBody" class="flex-container">
