<%- include('./partials/header') %>

<head>
	<title><%= title %></title>
	<link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
	<h1 id="welcomeMessage">
		<%= user ? `${user.name}, welcome!` : "You're about to hear something great." %>
	</h1>
</body>

<%- include('./partials/footer') %>
