/*---- BG STYLE GUIDE: "I LOVE THAT SONG" ----*/
/*
Font: Amatic SC (header), monospace, black
Colors (and alt):
--teal
--#ffc45f (golden color)
--#FF745F (header salmon-like color)
--white
*/

html {
	box-sizing: border-box;
	height: 100vh;
	margin: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

:root {
	font-size: 76%;
}

body {
	/* Everything you see in the background! */
	font: 1rem monospace, 'Amatic SC', 'Lucida Grande', Helvetica, Arial, sans-serif;
	background-color: teal;
	margin: 0;
	display: grid;
	height: 100vh;
	grid-template-columns: auto;
	grid-template-rows: min-content min-content auto min-content;
	grid-template-areas:
		'headlineArea'
		'navbar'
		'mainBody'
		'footer';
}

/*---------------------- Classes (.) -------------------*/
.nav-item {
	/* BOOTSTRAP The actual buttons! */
	padding: .1rem;
}

.nav-link {
	/* BOOTSTRAP The space inside the nav buttons, including color and text */
	background-color: #ffc45f;
	color: black;
}

.card {
	/* BOOTSTRAP card used for albums and collection; this gives the actual shape to the card */
	background-color: white;
}

.card-body {
	/* BOOTSTRAP edit the actual content in the card */
	border: solid;
}

.card-title {
	/* BOOTSTRAP The atual copy in the card */
	color: black;
}

.btn-lg {
	/* BOOTSTRAP edit the content inside the button */
	color: black;
	background-color: #ffc45f;
}

.btn-lg:hover {
	/* BOOTSTRAP edit what happens when I hover over the button */
	background-color: #ff745f;
	text-decoration: none;
	color: white;
}

/*----------------------- IDs (#) ----------------------*/
/*---- HEADER.EJS ----*/
#headlineArea {
	/* the space holding logo and headline text */
	margin: 0;
	background-color: #ff745f;
	border: solid;
	grid-area: headlineArea;
}

#logoPic {
	/* coffee & music gif! */
	padding: 0;
	width: .1rem;
}

#headlineText {
	/* "I Love That Song" */
	text-align: center;
	font-size: 3.8rem;
	font-family: 'Amatic SC', monospace;
}

#headlineText a {
	/* the color of the link "I Love That Song" */
	color: black;
}

#subheadlineText {
	/* "Spend more time writing */
	text-align: center;
	font-size: large;
	font-style: italic;
	font-family: 'Amatic SC', monospace;
	font-size: 2rem;
}

#navbar {
	/* The space holding all the nav buttons */
	grid-area: navbar;
	border: solid;
	background-color: #ffc45f;
	text-align: center;
	
}

#navbar ul {
	/* The space around a button */
	padding: 0;
	margin: 0;
}

#navbar li {
	/* Keeping buttons reading side-to-side, include of default column view */
	display: inline-block;
	justify-items: center;
}

#navbar a:hover {
	/* Editing colors when hovering over nav bar */
	background-color: #ff745f;
	color: white;
}

#signIn a {
	/*  the button where I log in and out of Google */
	background-color: #ffc45f;
}

/*---- FOOTER.EJS ----*/
#footer {
	/* Everything you see in the footer! */
	border: thick double black;
	background-color: #ff745f;
	text-align: center;
	font-size: small;
	padding-top: 1rem;
	grid-area: footer;
}

#footer a {
	/* Change the color of the links in teh footer */
	color: white;
}

/*---- NON-PARTIAL VIEWS ----*/
#mainBody {
	/* All the space between the header and footer partials */
	/* Keep this now for testing ... */
	border: solid;
	padding: 1rem;
	grid-area: mainBody;
}

/*---- ERROR.EJS ----*/
/*---- INDEX.EJS ----*/
#welcomeMessage {
	font-size: x-large;
	padding: 1rem;
	text-align: center;
}

/*---- ALBUMS VIEWS ----*/
/*---- INDEX.EJS ----*/
#indexTitle {
	font-size: x-large;
	padding: 1rem;
}

#albumCollection {
	font-size: x-large;
	padding: 1rem;
}

/*---- NEW.EJS ----*/
#welcomeMessageSearch {
	font-size: x-large;
	padding: 1rem;
}

#newTitle {
	font-size: x-large;
	padding: 1rem;
}

#newSubtitle {
	font-size: large;
	padding-left: 1rem;
	padding-bottom: 1rem;
	font-style: italic;
}

#searchBar {
	/* Searching for a new album */
	margin-left: 1rem;
}

#searchButton {
	/* Press the button to actually search for a new album */
	margin-left: 1rem;
	margin-bottom: 1rem;
}

#albumSearchResults {
	/* The actual albums that come up in a search */
	margin-left: 1rem;
}

/*---- USERS VIEWS ----*/
/*---- PROFILE.EJS ----*/
#profileTitle {
	font-size: x-large;
	padding: 1rem;
}

#profileContainer {
	background-color: white;
	margin-left: 1rem;
}

#myTab {
	background-color: teal;
}