/*---- BG STYLE GUIDE FOR "I LOVE THAT SONG" ----*/
/*
Text: Lucida Grande, black
Background: teal
Backgound 2: aquamarine (need to update to match teal)
Navigation: goldenrod & darkgoldenrod
Footer: #FF745F (the logo color)
*/

body {
	/* Everything you see in the background! */
	font: 1rem 'Lucida Grande', Helvetica, Arial, sans-serif;
	background-color: teal;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

nav {
	/* The space for everything in the app's header! */
	/* Used in: header.ejs */
	background-color: aquamarine;
	border: solid;
}

/*---- Classes (.) ----*/
.nav-item {
	/* The actual nav buttons */
	/* Used in: header.ejs */
	background-color: goldenrod;
	border: solid;
}

.nav-link {
	/* The space inside the nav buttons, including color and text */
	/* Used in: header.ejs */
	background-color: goldenrod;
	color: black;
}

/*---- IDs (#) ----*/
/*---- HEADER.EJS ----*/
#headlineArea {
	/* The area holding logo and copy above the nav bar */
	margin: 0;
	border: solid;
}

#logoPic {
	/* coffee & music gif! */
	width: 1rem;
	border: solid;
	padding: 0;
}

#headlineText {
	/* "I Love That Song" */
	text-align: center;
}

#headlineText a {
	/* the color of the link "I Love That Song" */
	color: black;
}

#subheadlineText {
	/* "Spend more time writing */
	text-align: center;
}

#navbar {
	/* The space holding all the nav buttons */
	background-color: darkgoldenrod;
	border: solid;
}

#navbar ul {
	/* The space around a button */
	padding: 0;
	margin: 0;
}

#navbar li {
	/* Keeping buttons reading side-to-side, include of default column view */
	display: inline-block;
}

/*---- FOOTER.EJS ----*/
#footer {
	/* Everything you see in the footer! */
	border: thick double black;
	background-color: #ff745f;
	text-align: center;
	font-size: small;
	padding: 0.5rem;
	margin: 0.5rem;
}

#footer a {
	/* Change the color of the links in teh footer */
	color: white;
}
